<script>
    document.getElementById("home").onclick = function () {
        location.href = "/";
    };

    document.getElementById("post").onclick = function () {
        location.href = "/post";
    };

    document.getElementById("profile").onclick = function () {
        location.href = "/profile";
    };

    document.getElementById("food").onclick = function () {
        location.href = "/food";
    };

    document.getElementById("sport").onclick = function () {
        location.href = "/sport";
    };

    document.getElementById("money").onclick = function () {
        location.href = "/money";
    };

    document.getElementById("all").onclick = function () {
        location.href = "/main";
    };
</script>
</body>
</html>