<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="main-block">
            <header>
                <div class="head-main">
                    <div class="right">
                        <button id="post">Post</button>
                        <button id="home">Log Out</button>
                        <button id="profile">Profile</button>   
                    </div>
    
                    <div class="left">
                        <img name="imageImp" width="70px" height="70px">
        
                        <h1><%=b %></h1>
                    </div>
                    
                </div>

                <div class="categories">
                    <h1>Categuries:</h1>
                    <button id="all">All</button>
                    <button id="food">Food</button>
                    <button id="sport">Sport</button>
                    <button id="money">Money</button>
                </div>
            </header>